<launch>

  <node pkg="laser-odom_calibration" name="calib" type="io_test" output="screen">
    <param name="file_path" type="string" value="/home/dfl-nuc/temp_ws/src/ugv_calibration/bag/" />
    <param name="bagname" type="string" value="laser_odom_data" />
    <param name="laser_topic" type="string" value="/scan" />
    <param name="odom_topic" type="string" value="/ugv_diff_drive_controller/odom" />
  </node>

</launch>
